<!-- reservas.html -->
<h1>Reservas</h1>
<meta charset="UTF-8">
<form ng-submit="ctl.salvareserva()">
  <fieldset>
    <legend>Cadastrar Reserva</legend>
    <label>Id da Pessoa</label>
    <input ng-model="ctl.novo.id_pessoa" required/><br/>
    <label>Id do Espaço</label>
    <input ng-model="ctl.novo.id_espaco" requerid/><br/>
    <label>Data da Reserva</label>
    <input type="datetime" ng-model="ctl.novo.data_reserva_inicio" required/>
    <br/><br/>
    <input type="submit"/>
  </fieldset>
</form>
 <fieldset>
    <legend>Listar Reservas</legend>
    <ul>
      <li ng-repeat=" ev in ctl.reservas">{{ev.id_reserva | {{ev.data_reserva_inicio}} </li>
    </ul>
 </fieldset>